<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gp.bishe.dao.RoomMapper">

    <!-- List<Room> getAllRoomList();-->
    <select id="getAllRoomList" resultType="com.gp.bishe.pojo.Room">
        select * from room
    </select>

    <!-- void updateRoom(Room room);;-->
    <update id="updateRoom" >
        update room
        <set>
            <if test="null != roompic and roompic != ''">
                roompic = #{roompic},
            </if>
            <if test="null != roomsize and roomsize != ''">
                roomsize = #{roomsize},
            </if>
            <if test="null != roomthings and roomthings != ''">
                roomthings = #{roomthings},
            </if>
            <if test="null != roomtype and roomtype != ''">
                roomtype = #{roomtype},
            </if>
            <if test="null != roomdate and roomdate != ''">
                roomdate = #{roomdate},
            </if>
            <if test="null != creater and creater != ''">
                creater = #{creater},
            </if>
            <if test="null != toward and toward != ''">
                toward = #{toward},
            </if>
            <if test="null != storey and storey != ''">
                storey = #{storey},
            </if>
            <if test="null != amenities and amenities != ''">
                amenities = #{amenities},
            </if>
            <if test="null != media and media != ''">
                media = #{media},
            </if>
            <if test="null != food and food != ''">
                food = #{food},
            </if>

        </set>
        <where>
            roomid = #{roomid}
        </where>
    </update>

    <!-- void deleteRoomById(Integer roomid);-->
    <delete id="deleteRoomById" parameterType="java.lang.Integer">
        /*delete from room where roomid = ?*/
        delete from room
        <where>
            roomid = #{roomid}
        </where>
    </delete>

  <!--  void insertRoom(Room room);-->
    <insert id="insertRoom" parameterType="com.gp.bishe.pojo.Room">
        insert into room(roompic,roomsize,roomthings,roomtype,roomdate,creater,toward,storey,amenities,media,food)
        values (#{roompic},#{roomsize},#{roomthings},#{roomtype},#{roomdate},#{creater},#{toward},#{storey},#{amenities},#{media},#{food})
    </insert>

   <!-- Room selectRoomByid(Integer roomid);-->
    <!--select * from room  where roomid = 60-->
    <select id="selectRoomByid"  parameterType="java.lang.Integer" resultType="com.gp.bishe.pojo.Room">
        select * from room
        <where>
            roomid =  #{roomid}
        </where>
    </select>


    <!--  void updatePriceRoom(Room room);;-->
    <update id="updatePriceRoom" >
        update room
        <set>
            <if test="null != ordprice and ordprice != ''">
                ordprice = #{ordprice},
            </if>
            <if test="null != vipprice and vipprice != ''">
                vipprice = #{vipprice},
            </if>
            <if test="null != deposit and deposit != ''">
                deposit = #{deposit},
            </if>
        </set>
        <where>
            roomid = #{roomid}
        </where>
    </update>
</mapper>
